@page "/"

<h1>Welcome to FOUND</h1>

<p>FOUND is a program that can use pictures of people's faces to see if one of those people are kin to another</p>
<p>The FOUND Web app and the FOUND API are all property of Kevin Brothers</p>
<p></p>
<p></p>
<p></p>
<p>©Kyanite Industries 2020-2021</p>
<p>©Kevin Brothers 2020-2021</p>
